.form-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-buttons button{
    height: 40px;
    border: none;
    font-weight: bold;
    font-size:15px;
}
.back{
    background-color: transparent;
    color: #C4C5C7;
}
.next{
    color: white;
    width: 100px;
    border-radius: 5px;
    background-color: #03295A;
}
.next:hover{
    cursor: pointer;
    opacity: 0.85;
}
.back:hover{
    cursor: pointer;
    color: #03295A;
}